---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - metallb.io
  resources:
  - bgpadvertisements
  - ipaddresspools
  - l2advertisements
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - openstack.example.com
  resources:
  - openstackloadbalanceservices
  verbs:
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - openstack.example.com
  resources:
  - openstackloadbalanceservices/status
  verbs:
  - get
  - patch
  - update
